<title>Добро пожаловать</title>
<h1>Добро пожаловать!</h1>
Добро пожаловать в "одноклассники"! Войдите в свой аккаунт или зарагестрируйте новый!

<form action='@this.Url.Action("Registration", "Registration")'>
  <button> Зарегистрироваться </button>
</form>
