@model int

<environment include="Development">
    <link rel="stylesheet" href="~/css/error.css" />
</environment>

<div id="main">
    <div class="fof">
            <h1>Error @Model occurred</h1>
    </div>
</div>