@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model SocialNetwork.ViewModels.RegisterViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="~/registration/fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="~/registration/vendor/jquery-ui/jquery-ui.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/registration/css/style.css">
</head>
<body>
    
    <div class="main">

        <section class="signup">
            <img src="images/signup-bg.jpg" alt="">
            <div class="container">
                <div class="signup-content">
                    @using(Html.BeginForm("Registration", "Registration", FormMethod.Post))
                    {
                        <div class="form-row">
                            <div class="form-group">
                                <label for="first_name">First name</label>
                                <input asp-for="Name" type="text" class="form-input"/>
                            </div>
                            <div class="form-group">
                                <label for="last_name">Last name</label>
                                <input asp-for="Surname" type="text" class="form-input"/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group form-icon">
                                <label for="birth_date">Birth date</label>
                                <input asp-for="BirthDay" type="text" class="form-input" placeholder="MM-DD-YYYY"/>
                            </div>
                            <div class="form-radio">
                                <label for="gender">Gender</label>
                                <div class="form-flex">
                                    <input type="radio" name="gender" value="male" id="male" checked="checked"/>
                                    <label for="male">Male</label>
    
                                    <input type="radio" name="gender" value="female" id="female" />
                                    <label for="female">Female</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                    <label for="email">Email</label>
                                    <input asp-for="Email" type="email" class="form-input"/>
                                </div>
                        </div>
                        <div class="form-group">
                                    <label for="country">Country</label>
                                    <div class="select-list">
                                        <select name="country" id="country" required>
                                            <option value="RU">Russia</option>
                                            <option value="BY">Belarus</option>
                                            <option value="UA">Ukraine</option>
                                        </select>
                                    </div>
                                </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input asp-for="Password" type="password" class="form-input"/>
                            </div>
                            <div class="form-group">
                                <label for="re_password">Repeat your password</label>
                                <input asp-for="ConfirmPassword" type="password" class="form-input"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Submit"/>
                        </div>
                    }
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="~/registration/vendor/jquery/jquery.min.js"></script>
    <script src="~/registration/vendor/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/registration/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/registration/vendor/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="~/registration/js/main.js"></script>
</body>
</html>